{% extends '::base.html.twig' %}

{% block title %}Add category{% endblock %}
{% block body %}
    <p class="text-info">Добавить категорию:</p>

    <form action="{{ path('add-category-film') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <div class="row-fluid">
            <input class="btn btn-success" type="submit" name="submit" value="Отправить">
        </div>
    </form>

{% endblock %}